@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'PT Sans', sans-serif;
}

@layer base {
  :root {
    --background: 210 100% 97%;
    --foreground: 210 10% 23%;
    --card: 0 0% 100%;
    --card-foreground: 210 10% 23%;
    --popover: 0 0% 100%;
    --popover-foreground: 210 10% 23%;
    --primary: 36 100% 63%;
    --primary-foreground: 0 0% 9%;
    --secondary: 210 40% 90%;
    --secondary-foreground: 210 10% 9%;
    --muted: 210 40% 90%;
    --muted-foreground: 210 10% 45.1%;
    --accent: 190 48% 68%;
    --accent-foreground: 0 0% 9%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 210 20% 85%;
    --input: 210 20% 92%;
    --ring: 36 100% 63%;
    --chart-1: 190 48% 68%;
    --chart-2: 36 100% 63%;
    --chart-3: 210 50% 50%;
    --chart-4: 25 80% 60%;
    --chart-5: 190 30% 50%;
    --radius: 0.5rem;
    --sidebar-background: 0 0% 100%;
    --sidebar-foreground: 210 10% 23%;
    --sidebar-primary: 36 100% 63%;
    --sidebar-primary-foreground: 0 0% 9%;
    --sidebar-accent: 210 100% 97%;
    --sidebar-accent-foreground: 210 10% 9%;
    --sidebar-border: 210 20% 85%;
    --sidebar-ring: 36 100% 63%;
  }
  .dark {
    --background: 222 47% 11%;
    --foreground: 210 40% 98%;
    --card: 222 47% 11%;
    --card-foreground: 210 40% 98%;
    --popover: 222 47% 11%;
    --popover-foreground: 210 40% 98%;
    --primary: 36 100% 63%;
    --primary-foreground: 0 0% 9%;
    --secondary: 217 33% 17%;
    --secondary-foreground: 210 40% 98%;
    --muted: 217 33% 17%;
    --muted-foreground: 215 20% 65%;
    --accent: 190 48% 68%;
    --accent-foreground: 0 0% 9%;
    --destructive: 0 63% 31%;
    --destructive-foreground: 210 40% 98%;
    --border: 217 33% 17%;
    --input: 217 33% 17%;
    --ring: 36 100% 63%;
    --chart-1: 190 48% 68%;
    --chart-2: 36 100% 63%;
    --chart-3: 210 50% 50%;
    --chart-4: 25 80% 60%;
    --chart-5: 190 30% 50%;
    --sidebar-background: 222 47% 11%;
    --sidebar-foreground: 210 40% 98%;
    --sidebar-primary: 36 100% 63%;
    --sidebar-primary-foreground: 0 0% 9%;
    --sidebar-accent: 217 33% 17%;
    --sidebar-accent-foreground: 210 40% 98%;
    --sidebar-border: 217 33% 17%;
    --sidebar-ring: 36 100% 63%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
